@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Josefin+Sans:wght@400;600&display=swap');

html, body {
    --yellow: #FDCB9E;
    --black: #1B262C;
    --blue: #0F4C75;
    --green: #00B7C2;
    --white: #FFFFFF;

    --light-black: #2F3D45;
    --light-yellow: #FFE1C7;
    --light-green: #00B7C2;

    --font-fredoka: 'Fredoka', cursive;
    --font-josefin: 'Josefin Sans', sans-serif;

    --border-radius: 0.2rem;
    --box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
    /* height: 100%; */
}

.centered-container {
    display: flex;
    justify-content: center;
}


/* ---- Upload File Styling ----- */

.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.file-input {
    position: absolute;
    font-size: 2rem;
    height: 2.5rem;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
  
.file-input-label {
    background-color: var(--black);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    width: 10rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.selected-file-name {
    display: block;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
}

/* ---- End Upload File Styling ----- */

.big-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    padding: 0.8rem 3.3rem;
    border-radius: var(--border-radius);
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
    font-size: 1.1rem;
}

.small-btn {
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    padding: 0.7rem 2.4rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}