@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Josefin+Sans:wght@400;500;600&display=swap');

html, body {
    --yellow: #FDCB9E;
    --black: #1B262C;
    --blue: #0F4C75;
    --green: #00B7C2;
    --white: #FFFFFF;

    --light-black: #2F3D45;
    --light-yellow: #FFE1C7;
    --light-green: #35D6DF;
    --light-blue: #1F70A7;

    --dark-yellow: #F7BF8C;
    --dark-green: #03A8B2;
    --dark-black: #161F23;

    --font-fredoka: 'Fredoka', cursive;
    --font-josefin: 'Josefin Sans', sans-serif;

    --border-radius: 0.2rem;
    --box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.15);

    overflow-x: hidden;
}

.centered-container {
    display: flex;
    justify-content: center;
}


/* ---- Upload File Styling ----- */

.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.file-input {
    position: absolute;
    font-size: 2rem;
    height: 2.5rem;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
  
.file-input-label {
    background-color: var(--black);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    width: 10rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.selected-file-name {
    display: block;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
}

/* ---- End Upload File Styling ----- */

.big-btn {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    padding: 1.1rem 3rem;
    border-radius: var(--border-radius);
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
    font-size: 1.1rem;
    transition: scale 0.5s ease;
}

.big-btn:hover {
    scale: 1.03;
}

.small-btn {
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    padding: 0.7rem 2.4rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: scale 0.5s ease;
}

.small-btn:hover {
    scale: 1.03;
}

/* For WebKit based browsers (Chrome, Safari) */
/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--black); /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar handle on hover */
}

/* For Firefox */
/* Customize the scrollbar */
/* Width of the scrollbar track */
/* Note: Firefox does not support color customization of the scrollbar */
/* Only width and background */
scrollbar {
    width: 10px;
}

/* Handle */
scrollbar-thumb {
    background-color: var(--black); /* Color of the scrollbar handle */
}

/* Handle on hover */
scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar handle on hover */
}

::selection {
    color: var(--white); /* Set the color of the selected text */
    background-color: var(--black); /* Set the background color of the selected text */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}