.mainContainer {
    display: flex;
    min-height: calc(100vh - 8rem);
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contentContainer {
    min-height: calc(100vh - 11.75rem);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.centerHero {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heroContainer {
    height: 100vh;
    width: 80%;
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.heroMottoContainer {
    display: block;
    flex-direction: column;
    width: 30rem;
}

.heroMotto {
    font-size: 3rem;
    color: var(--white);
    font-family: var(--font-josefin);
    font-weight: 700;
    line-height: 3.5rem;
    margin-top: -12rem;
}

.heroIllustration {
    display: block;
    position: relative;
    width: 15rem;
    height: 15rem;

}

.circle1 {
    position: absolute;
    background-color: var(--blue);
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    z-index: 1;
    bottom: -1rem;
    right: 7rem;
}

.circle2 {
    position: absolute;
    background-color: var(--green);
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    z-index: 1;
    top: -3rem;
    right: 2rem;
}

.circle3 {
    position: absolute;
    background-color: var(--black);
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    top: 0;
    right: 0;
}

.indexBtn {
    position: absolute;
    left: 0;
    bottom: 15rem;
}

.browseSection {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

.browseSectionContainer {
    background-color: var(--blue);
    min-height: 400px;
    width: 80%;
}

.indexSearchForm {
    display: flex;
    flex-direction: row;
}

.searchBarDiv {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.searchBarInput {
    color: var(--white);
    outline: none;
    padding-left: 10px;
    font-size: 25px;
    width: calc(100% - 118px);
    height: 100%;
    background-color: #5A94BB;
    border: 1px solid #5A94BB;
    font-family: var(--font-josefin);
    font-weight: bold;
}

/* .searchBarInput:focus {
    border: 1px solid var(--white);
} */

.searchBarButton {
    font-family: var(--font-josefin);
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    background-color: var(--black);
}

.searchBarButton:hover {
    cursor: pointer;
}

.summaryBrowser {
    margin-top: -1rem;
    width: 100%;
    padding-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 50px; /* Gap between grid items */
}

/* Category List element */

.categoryElementDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
}

.categoryDiv, .categoryDivSelected {
    color: var(--white);
    font-family: var(--font-josefin);
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 13px;
    padding: 0.4rem 1.4rem;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: 0.6rem;
    transition: scale 0.3s ease-in-out;
}

.categoryDiv {
    background-color: var(--light-black);
}

.categoryDivSelected {
    background-color: var(--black);
}

.categoryDiv:hover, .categoryDivSelected:hover {
    cursor: pointer;
    scale: 1.07;
}

@media (min-width: 1400px) {
    .heroContainer {
        width: 70rem;
    }

    .browseSectionContainer {
        width: 70rem;
    }
}

/* For smaller screens, switch to 2 columns */
@media (max-width: 1400px) {
    .summaryBrowser {
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    }
}

/* For even smaller screens, switch to a single column */
@media (max-width: 900px) {
    .heroMottoContainer {
        width: 22rem;
    }

    .heroMotto {
        margin-top: 0;
        font-size: 3rem;
        text-align: center;
    }

    .heroContainer {
        margin-top: 5rem;
        height: 50rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
    }

    .heroIllustration {
        margin-top: 7rem;
    }

    .summaryBrowser {
        grid-template-columns: 1fr; /* Single column */
    }

    .indexBtn {
        position: static;
        width: 21rem;
        margin-top: 20rem;
        margin-bottom: 4rem;
    }

    .circle1 {
        bottom: -11rem;
        right: 8rem;
    }
    
    .circle2 {
        top: -3rem;
        right: 2.5rem;
    }
    
    .circle3 {
        top: 0;
        right: 0;
    }

    .browseSectionContainer {
        width: 21rem;
    }

    .categoryDiv, .categoryDivSelected {
        color: var(--white);
        font-family: var(--font-josefin);
        font-weight: 500;
        font-size: 1.2em;
        border-radius: 13px;
        padding: 0.4rem 1.4rem;
        text-align: center;
        margin-right: 1rem;
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
        transition: scale 0.3s ease-in-out;
    }
}


