.indexOuterDiv {
    display: flex;
    min-height: calc(100vh - 8rem);
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--yellow);
}

.indexContentDiv {
    min-height: calc(100vh - 11.75rem);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.indexHigherDiv {
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    padding: 150px;
    margin-bottom: 100px;
}

.indexHigherDivLeft {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.indexHigherDivRight {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.indexMotto {
    font-size: 70px;
    color: var(--white);
    font-family: var(--font-josefin);
    font-weight: bolder;
    line-height: 70px;
    margin-bottom: 100px;
}

.circle1 {
    position: absolute;
    background-color: var(--blue);
    aspect-ratio: 1/1;
    height: 140px;
    border-radius: 200px;
    left: calc(75% - 60px);
    top: calc(10% + 110px);
    z-index: 1;
}

.circle2 {
    position: absolute;
    background-color: var(--green);
    aspect-ratio: 1/1;
    height: 80px;
    border-radius: 200px;
    left: calc(75% + 120px);
    top: calc(10% - 35px);
    z-index: 1;
}

.circle3 {
    position: absolute;
    background-color: var(--black);
    aspect-ratio: 1/1;
    height: 200px;
    border-radius: 200px;
    left: 75%;
    top: 10%;
}

.indexLowerDiv {
    background-color: var(--blue);
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    min-height: 400px;
}

.indexSearchForm {
    display: flex;
    flex-direction: row;
}

.searchBarDiv {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.searchBarInput {
    color: var(--white);
    outline: none;
    padding-left: 10px;
    font-size: 25px;
    width: calc(100% - 118px);
    height: 100%;
    background-color: #5A94BB;
    border: 1px solid #5A94BB;
    font-family: var(--font-josefin);
    font-weight: bold;
}

.searchBarInput:focus {
    border: 1px solid var(--white);
}

.searchBarButton {
    font-family: var(--font-josefin);
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    background-color: var(--black);
}

.summaryBrowser {
    margin-top: 40px;
    width: 100%;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 50px; /* Gap between grid items */
}

/* For smaller screens, switch to 2 columns */
@media (max-width: 1400px) {
    .summaryBrowser {
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    }
}

/* For even smaller screens, switch to a single column */
@media (max-width: 900px) {
    .summaryBrowser {
        grid-template-columns: 1fr; /* Single column */
    }
}


/* Category List element */

.categoryElementDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.categoryDiv, .categoryDivSelected {
    color: var(--white);
    font-family: var(--font-josefin);
    font-weight: bold;
    font-size: 20px;
    border-radius: 13px;
    width: 130px;
    padding: 8px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 15px;
    transition: scale 0.3s ease;
}

.categoryDiv {
    background-color: var(--light-black);
}

.categoryDivSelected {
    background-color: var(--black);
}

.categoryDiv:hover, .categoryDivSelected:hover {
    cursor: pointer;
    scale: 1.07;
}