.registerPageOuterDiv {
    width: 100%;
    height: clamp(200px, 100%, 100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
}

.registerForm {
    margin-top: 4rem;
    display: flex;
    min-height: calc(100vh - 11.75rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(22rem, 25%, 30px);
    margin-bottom: 3rem;
}

.registerP {
    width: 100%;
    text-align: left;
    color: var(--white);
    font-family: var(--font-josefin);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.googleButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--white);
    height: 50px;
    font-family: var(--font-josefin);
    font-weight: 600;
    background-color: var(--black);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    transition: scale 0.2s ease-in-out;
}

.googleButton:hover {
    scale: 1.02;
}

.registerLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--font-josefin);
    font-size: 25px;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.registerLine div {
    height: 3px;
    width: 45%;
    background-color: var(--white);
    margin-top: 10px;
}

.registerLine p {
    color: var(--white);
    width: 10%;
    margin-top: -8px;
    text-align: center;
}

.passwordInput, .userInput, .emailInput, .confirmInput {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--black);
    font-family: var(--font-josefin);
    padding-left: 5px;
    font-size: 22px;
    border: 4px solid var(--white);
    font-weight: 600;
    outline: none;
}

.userLabel, .passLabel, .emailLabel, .confirmLabel {
    width: 100%;
    color: var(--white);
    font-size: 1.4rem;
    font-family: var(--font-josefin);
    font-weight: 600;
}

.logInLink {
    width: 100%;
    color: var(--white);
    font-family: var(--font-josefin);
    font-size: 1.18rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

.errorMessage {
    font-family: var(--font-josefin);
    font-size: 20px;
    margin-top: 5px;
    color: darkred;
    width: 100%;
    margin-bottom: 5px;
}

.emailVerificationMessage {
    margin-top: 4rem;
    display: flex;
    min-height: calc(100vh - 11.75rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--white);
    font-family: var(--font-josefin);
    font-weight: bold;
    font-size: 1.5rem;
}