.registerPageOuterDiv {
    width: 100%;
    height: clamp(200px, 100%, 100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
}

.registerForm {
    display: flex;
    min-height: calc(100vh - 11.75rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(500px, 25%, 700px);
}

.registerP {
    width: 100%;
    text-align: left;
    color: var(--white);
    font-family: var(--font-josefin);
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

.googleButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--white);
    height: 50px;
    font-family: var(--font-josefin);
    font-weight: bold;
    background-color: var(--black);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    transition: scale 0.5s ease;
}

.googleButton:hover {
    scale: 1.02;
}

.registerLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--font-josefin);
    font-size: 25px;
}

.registerLine div {
    height: 3px;
    width: 45%;
    background-color: var(--white);
    margin-top: 10px;
}

.registerLine p {
    color: var(--white);
    width: 10%;
    margin-top: -8px;
    text-align: center;
}

.passwordInput, .userInput, .emailInput, .confirmInput {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--black);
    font-family: var(--font-josefin);
    padding-left: 5px;
    font-size: 22px;
    border: 4px solid var(--white);
    outline: none;
}

.userP, .passP, .emailP, .confirmP {
    width: 100%;
    color: var(--white);
    font-size: 25px;
    font-family: var(--font-josefin);
    font-weight: bolder;
}

.logInLink {
    width: 100%;
    color: var(--white);
    font-family: var(--font-josefin);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

.errorMessage {
    font-family: var(--font-josefin);
    font-size: 20px;
    margin-top: 5px;
    color: darkred;
    width: 100%;
    margin-bottom: 20px;
}